* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    background-color: black;
    color: beige;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: aqua;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: solid 2px black;
    border-bottom: 2px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(16, 101, 101);
    color: azure;
    border-radius: 20px;
    margin: 2%;
  }
  
  li span {
    flex-grow: 1;
  }
  
  li button {
    padding: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  